/lesson-info.yaml
/Fog of war/task.html
/Friend or foe/task.html
/Take position/task.html
/The end of the war/task.html
/The first shot/task.html
/Fog of war/task-info.yaml
/Friend or foe/task-info.yaml
/Take position/task-info.yaml
/The end of the war/task-info.yaml
/The first shot/task-info.yaml
/Fog of war/task-remote-info.yaml
/Friend or foe/task-remote-info.yaml
/Take position/task-remote-info.yaml
/The end of the war/task-remote-info.yaml
/The first shot/task-remote-info.yaml
/task/test/Tests.java
